#loader loads just below mode 7 screen 

MEMORY {

    ZEROPAGE:           start = $0000, size = $60, type=rw;
    ROMIMAGE:           start = $1900, size = $5900, type=rw, define=yes;
    SPLASH:             start = $5C00, size = $0400, type=rw, fill=yes;
    RAM:                start = $6000, size = $1C00, type=rw, fill=no;

}
SEGMENTS {

    ZEROPAGE:           load = ZEROPAGE,                           type = zp;
    CODE:               load = RAM,                                type = ro,  define = yes;
    RODATA:             load = RAM,                                type = rw,  define = yes;
    DATA:               load = RAM,                                type = rw,  define = yes;
    BSS:                load = RAM,                                type = rw,  define = yes;
    SPLASH:             load = SPLASH,                             type = ro,  define = yes;
    ROMIMAGE:           load = ROMIMAGE,                           type = bss, define = yes;
}
FEATURES {
}
SYMBOLS {
}